*{
    background-color: black;
}

.logo{
   
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-top: 10px;
}

.logo:hover{
transition: 00.5s;
    width: 110px;
    height: 110px;
    margin-left: -10px;
    margin-top: -10px;
    /* Ponemos márgenes en negativo para que no descoloque categorias1 ni categorias2 */

}

.cabecera{
    display: flex;
    justify-content: space-between;
}

.categorias1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

input{
    margin-top: 20px;
    position: relative;
    max-height: 30px;
    color: white;
}

.categorias1 div{
    font-style: italic ;
    max-height: 25px;
    background-color: #D000ff;
    border: #D000ff 10px solid;
    border-left: #D000ff 30px solid;
    border-right: #D000ff 30px solid;
    margin-top: 20px;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.categorias1 :hover{
    transition: 00.3s;
    color: white;
}

.categorias2{
    
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    background-color: #19ff66;
    border:#19ff66 solid 5px ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic ;
    color: white;
    margin-left: 220px;
    width: 80%;
    font-size:x-large ;
    letter-spacing: 1px;
   
}

.categorias2 div{
    background-color:#19ff66 ;
}

.categorias2 :hover {
    transition: 00.3s;
    color: black;
}

.principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgprod{
    width: 276px;
    height: 360px;
}

.icon{
    width: 25px;
    height: 25px;
    margin-top: 25px;
}

.prod1{
  margin: 15px;
  float: left;
  position: relative;
   
    border-left: 8px solid #19ff66;
    border-top: 8px solid #19ff66;
    border-right: 8px solid #D000ff;
    border-bottom: 8px solid #D000ff;
   
}

.prod1 p{

    color: black;
    position: absolute;
    background-color: #D000ff;
    border: 6px solid #D000ff;
    top: -40px;
    left: -20px;
    font-size: x-large;
    font-style: italic ;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.prod1 p:hover{
    top: -50px;
    left: -30px;
    transition: 00.5s;
    font-size: xx-large;
    color: #19ff66;
}

.prod1:hover{

    color: white;
    transition: 0.5s;

    border-right: 8px solid #19ff66;
    border-bottom: 8px solid #19ff66;
    border-left: 8px solid #D000ff;
    border-top: 8px solid #D000ff;
   
}

.info{

    display: grid;
     grid-template-columns: 200px 78px;
     grid-template-rows: 45px 65px;
     text-align: justify;
     color: white;
}

.nombreprod , .precio, .texto, .guardar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black; 

}

.texto{
    font-weight: 800;
    color: #b8b8bb;
   margin-left: 8px;
}

.precio{
 
    padding: 7px;
    padding-left: 12px;
    color: #7a7b7b;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;       
    font-size: larger;

}

.nombreprod{
    padding: 8px;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    color:#19ff66 ;

}

.nombreprod:hover{
    color:#D000ff ;
    transition: 0.3s;
}

.texto:hover, .precio:hover{
    color: white;
}

.guardar{

    background-image: url("imagenes/coraz.png");
    background-repeat: no-repeat;
    background-size: 30px;
   background-position: center;

}
.guardar:hover{
    background-size: 40px;
    transition: 0.3s;
  

}

.pie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 5px solid #D000ff;
    
}

.pie img{
    margin: 20px;
}


@media (max-width: 1080px){

        .categorias2{
            margin-left: 150px;
        }
        }



@media (max-width: 790px){

        .categorias2{

            margin-left: 156px;
            font-size:large ;
            letter-spacing: 1px;

        }
        }

@media (max-width: 720px){

        input{
            display: none;
        }

        .categorias2{
            margin-right: 25px;
            letter-spacing: normal;
            font-size:medium;
        }
        }


@media (max-width: 698px){

        .nino{
        display: none;
            }
            }

 @media (max-width: 622px){

        .categorias2{
      flex-direction: column;
      width: 60%;
      align-items: center;
      margin: auto;
      margin-top: 18px;
      letter-spacing: 1px;
      font-size: large;

          }

        .logo{

            width: 60px;
            height: 60px;

        }

        .logo:hover{

            width: 70px;
    height: 70px;
    margin-left: -10px;
    margin-top: -10px;

        }
          }

 @media (max-width: 622px){

                
    .icon{
        
    display: none;

            }
        }


 @media (max-width: 500px){
            
      .pie img{

        margin: 10px;

      }
     }
       
       

